.img3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 160px;
}
.img3:hover {
    width: 315px;
    height: 315px;
    border-radius: 50%;
    margin-left: 10px;
}
.img2:hover, .img1:hover {
    width: 315px;
    height: 315px;
    border-radius: 50%;
    margin-right: 10px;
}
.img2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.img1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 160px;
}
.header {
    display: flex;
    background-color: rgb(212, 112, 12);
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    padding: 1rem;
    z-index: 100;
}
.avatar1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: left;
    position: fixed;
    margin-top: -14px;
    z-index: 100;
}
.pmt1 {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 100;
    margin-left: 50px;
    margin-top: 17px;
    font-size: 15px;
}
.pmt1:hover {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 100;
    margin-left: 50px;
    margin-top: 17px;
    font-size: 15px;
    color: white;
    text-decoration: underline green 2px;
}
.pmt:hover {
    color: white;
    text-decoration: underline rgb(212, 112, 12) 2px;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.nav {
    background-color: rgb(212, 112, 12);
    position: fixed;
    top: 0;
    border: 10px;
    display: flex;
    width: 100%;
    height: 1.5rem;
    /* margin-left: 1105px; */
    padding: 1rem;
    justify-content: center;
    word-spacing: 5px;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "noto-serif";
    font-size: 25px;
    font-weight: 300;
    gap: 1rem;
}
nav a:hover {
    border-radius: 10px;
    color: green;
    font-size: 27px;
    font-weight: 150;
    cursor: progress;
    text-decoration: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}
.but4 {
    background-color: whitesmoke;
    justify-content: end;
    border: 20px;
    border-radius: 10px;
}
.but4 a {
    color: rgb(212, 112, 12);
}
.but4:hover {
    background-color: whitesmoke;
    justify-content: end;
    border: 20px;
    border-radius: 10px;
    
}
.body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTciFPMXJT-FQaavj0qo6s7l5veD33JTRU-juCy9YbEfY6Nbaq6uiAVOH0&s=10);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -20px;
    margin-right: -20px;
}
h2 {
    color: black;
    font-size: 52px;
    font-weight: 600;
    font-family: "noto-serif";
     margin-left: 30px;
}
.p2 {
   color: greenyellow;
   font-family: "Coda";
   font-size: 45px;
   font-weight: 300; 
   margin-left: 30px;
   margin-top: -25px;
}
h4 {
    color: black;
    font-family: "not-serif";
    font-size: 30px;
    font-weight: 400;
}
h4:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.but1 {
    background-color: rgb(212, 112, 12);
    border: 20px;
    border-radius: 10px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-bottom: 150px;
}
.but1 a {
    text-decoration: none;
    color: green;
    font-family: "noto-serif";
    font-size: 23px;
    font-weight: 200;
    padding: 0.25rem;
    margin: 0 auto;
}
.but1:hover {
    background-color: whitesmoke;
    color: green;
    font-family: "noto-serif";
    font-size: 20px;
    position: relative;
    text-decoration: solid;
    padding: 0.25rem;
    border: 15px;
    border-radius: 10px;
}
#about {
    background-color: white;
    color: green;
    font-family: "coda";
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border: 50px;
    padding: 1rem;
    margin-left: -20px;
    margin-right: -20px;
}
.p4 {
    color: rgb(230, 114, 6);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 200;
    font-display: block;
}
#Top-pick {
    background-color: rgb(212, 112, 12);
    color: whitesmoke;
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: -20px;
    margin-right: -20px;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 200;
    font-display: block;
}
h3 {
    color: white;
    font-family: "not-serif";
    font-size: 30px;
    font-weight: 400;
}
h3:hover{
    color: black;
    cursor: pointer;
}
#cus {
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
}
.p3 {
    color:whitesmoke;
    font-family: "noto-serif";
    font-size: 23px;
    font-weight: 200;
    margin-top: -20px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
}

.nav1 a:hover {
    border-radius: 10px;
    color: rgb(212, 112, 12);
    font-size: 27px;
    font-weight: 150;
    cursor: progress;
    text-decoration: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        /* justify-content: flex-end; */
        margin-right: 8rem;
        gap: 0.25rem;
        align-items: center;
        text-align: left;
    }
}