* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: purple;
}
header {
  border: solid 5px;
  padding: 40px;
  background-image: url("food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: red;
}
h1 {
  color: pink;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 40px;
}
h1:hover {
  color: red;
  cursor: pointer;
}
img {
  width: 300px;
  height: 300px;
}
.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
p {
  font-size: 18px;
  line-height: 1.6;
  font-family: "coda";
}
.hero {
  background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 1.5rem 1.9rem;
    z-index: 100;
}
.hero img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.hero nav{
    margin-left: auto;
    display: flex;
    gap: 1.25rem;
}
.hero nav a {
    color: black;
    font-size: 1.25rem;
    word-spacing: 1.25rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.4rem;
    transition: transform 0.3s ease,background-color 0.3s ease;
}
.hero nav a:hover {
    transform: translateY(-3px);
    color: pink;
    border-radius: 0.4rem;
}
.logo {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.938rem;
    font-size: 1.875rem;
    font-weight: 300;
    color: purple;
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 1.25rem;
}
.search-form {
  display: flex;
  justify-content: flex-end
}
li {
  text-align: justify;
  font-family: "roboto";
}
nav a:hover {
  cursor: progress;
  background-color: lightcoral;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: green;
}
section {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
section:hover {
  cursor: pointer;
  background-color: blue;
}
.highlight {
  font-family: "noto-serif";
  color: purple;
  font-size: 30px;
}
button {
  background-color: purple;
  color: pink;
  width: "50px";
  height: "50px";
}
button:hover {
  background-color: green;
  cursor: progress;
}
#about{
  color: orange;
  font: "norto-serif";
}body {
  background-color: purple;
}
.header {
  margin-top: 5rem;
  border: 0.125rem solid black;
  padding: 40px;
  background-image: url("food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header h2 {
  color: lightpink;
  font-family: "roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
.header h4 {
  color: rgb(228, 118, 7);
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
h1 {
  color: pink;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 40px;
}
h1:hover {
  color: red;
  cursor: pointer;
}
img {
  width: 300px;
  height: 300px;
}
.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
p {
  font-size: 18px;
  line-height: 1.6;
  font-family: "coda";
}
li {
  text-align: justify;
  font-family: "roboto";
}
nav a:hover {
  cursor: progress;
  background-color: lightcoral;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: green;
}
section {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
section:hover {
  cursor: pointer;
  background-color: blue;
}
.highlight {
  font-family: "noto-serif";
  color: purple;
  font-size: 30px;
}
button {
  background-color: purple;
  color: pink;
  width: "50px";
  height: "50px";
}
button:hover {
  background-color: green;
  cursor: progress;
}
#about{
  color: orange;
  font: "norto-serif";
}